# Unity generated folders
My project/[Ll]ibrary/
My project/[Tt]emp/
My project/[Oo]bj/
My project/[Bb]uild/
My project/[Bb]uilds/
My project/[Ll]ogs/
My project/[Uu]ser[Ss]ettings/

# Memory captures
My project/[Mm]emoryCaptures/

# Recordings
My project/[Rr]ecordings/

# Addressables
My project/ServerData
My project/[Aa]ssets/StreamingAssets/aa*
My project/[Aa]ssets/AddressableAssetsData/link.xml*
My project/[Aa]ssets/Addressables_Temp*
My project/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting
My project/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
My project/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
My project/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
My project/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# Test scenes
My project/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*

# Scene dependency cache
My project/[Aa]ssets/[Ss]ceneDependencyCache*

# Tutorial files
My project/[Aa]ssets/TutorialInfo/
My project/[Aa]ssets/TutorialInfo.meta
My project/[Aa]ssets/Readme.asset
My project/[Aa]ssets/Readme.asset.meta